*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 90px 0px 0;
    
}
header{
    background: #5939B5;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.logo{
    display: flex;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
}
.logo-img{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.logo-img-shadow{
    background-color: #241A55;
    padding: 7px;
    border-radius: 3px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #241A55;
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    
    display: none;
}

@media (max-width: 866px){
    body{
        padding-top: 70px;
    }
    header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .logo img{
        width: 45px;
        height: 45px;
    }
    .logo-img-shadow{
        padding: 3px;
        border-radius: 3px;
    }
    .nav-menu{
        flex-direction: column;
        margin-right: 0px;
        align-items: center;
        background-color: #183153;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #8DFFFF;
    }
    .nav-toggle{
        display: block;
        cursor: pointer;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }
}
    